.sidebar{
  width: 17%;
  position: fixed;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-link{
  color: black;
}

.nav-link:hover{
  background-color: #ececec;
  color: black;
}

.side-toggle{
  width: 50px;
  margin: 20px;
}

.side-toggle:hover{
  background-color: #10317f;
}

#sidebarToggle {
  z-index: 1005;
  display: block;
  position: sticky;
  top: 30px;
}

@media (max-width: 991.98px) {
  .sidebar {
    display: none;
    width: 100%;
    position: fixed;
  }
  .sidebar.active {
    display: flex;
    z-index: 1000;
  }
}
