main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  position: fixed;
  
  
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-link{
  color: black;
}

.nav-link:hover{
  background-color: #ececec;
  color: black;
}

.side-toggle:hover{
  background-color: #10317f;
}

#sidebarToggle {
  position: fixed!important;
  z-index: 1005;
}

@media (max-width: 991.98px) {
  .sidebar {
    display: none;
  }
  .sidebar.active {
    display: block;
    /* z-index: 1000; */
  }
  .main-content {
    width: 100%;
    overflow: hidden;
  }
  .main-content.sidebar-active {
    margin-left: 280px;
  }
  main {
    width: 100%;
  }
}